<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Category</title>
</head>
<body>
     <%-include("nav.ejs")%>
     <div class="form-group">
      <input type="text" name="search" value="" class="form-control"
       placeholder="Search Category..." onkeyup="ajaxsearch(this.value)">
     </div>
     <table class="table table-striped">
        <thead>
              <tr>
                <th>SR.NO</th>
                <th>Category Name</th>
                <th>update</th>
                <th>delete</th>
              </tr>
        </thead>
        <tbody id="tblbody">
             
               <% if(viewcate.length>0){ 
                   viewcate.forEach((item,index)=>{
                %>
                 <tr>
                 <td><%=(index+1)%></td>
                 <td><%=item.name%></td>
                 <td><a href="/updatecate?id=<%=item.cid%>">update</a></td>
                 <td><a href="/deletecate?id=<%=item.cid%>">delete</a></td>
                 </tr>
                <%  })
                }else{ %>
                  <tr>
                    <td colspan="4">not record found</td>
                  </tr>
                  
                <%  
                   }
                %>

        </tbody>
     </table>

     <script src="ajax.js"></script>
</body>
</html>